@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    --dark-green-blue: #165b38;
    --white: #fff;
    --first-tab: #f2f2f2;
    --second-tab: #9bffbf;
    direction: rtl;
}

body,
button,
input,
select,
optgroup,
textarea {
    color: var(--dark-green-blue);
    font-size: 1rem;
    line-height: 1.5;
}

.post,
.page {
    margin: 0;
}

.rtl #page {
    flex-direction: row-reverse;
}

#page {
    display: flex;
    flex-direction: row;
}

#masthead {
    height: 100vh;
    width: 56px;
    overflow: hidden;
    background-color: var(--dark-green-blue);
    object-fit: contain;
    color: var(--white);
}

.logo_rtl {
    display: none;
}

.rtl .logo_rtl {
    display: block;
}

.rtl .logo_eng {
    display: none;
}

.home_page {
    width: calc(100% - 56px);
}

.menu_block {
    display: flex;
}

img.Group-2,
img.Group-3,
img.Group-9 {
    width: 27px;
    object-fit: contain;
}

.header_bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0px;
}

.rtl .tabs {
    left: 56px;
    right: unset;
}

.tabs {
    height: 100vh;
    position: absolute;
    right: 56px;
    top: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.rtl .tabs.open {
    left: 414px !important;
}

.tabs.open {
    right: 416px !important;
}

.accordion-group li:nth-child(2) .accordion-overlay {
    background-color: var(--second-tab);
    opacity: 0.8;
}

.accordion-group li:nth-child(2).out .accordion-overlay {
    background-color: var(--second-tab);
    opacity: 0;
}

.accordion-group li:nth-child(1) .accordion-overlay {
    background-color: var(--first-tab);
    opacity: 0.8;
}

.accordion-group li:nth-child(1).out .accordion-overlay {
    background-color: var(--first-tab);
    opacity: 0;
}

.accordion-group li:nth-child(1) {
    background-color: var(--first-tab);
}

.accordion-group li:nth-child(2) {
    background-color: var(--second-tab);
}

.accordion-group li:nth-child(1) .owl-item.active {
    background: var(--first-tab);
}

.accordion-group li:nth-child(2) .owl-item.active {
    background: var(--second-tab);
}

a {
    color: inherit;
}

a.active,
a:active,
a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

.accordion-group {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    flex-direction: row-reverse;
}

.rtl .accordion-group {
    flex-direction: row;
}

.accordion-group li {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 20px;
    list-style: none;
    width: 250px;
    height: inherit;
    border-left: solid 2px var(--dark-green-blue);
}

.rtl #accordion>li {
    border-right: solid 2px var(--dark-green-blue);
    border-left: none;
}

#accordion>li {
    border-left: solid 2px var(--dark-green-blue);
    border-right: none;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.accordion-group li .tab-title {
    position: relative;
    color: var(--dark-green-blue);
    text-transform: uppercase;
    letter-spacing: -0.06rem;
    font-size: 2.1rem;
    padding: 0;
    writing-mode: vertical-rl;
    text-align: left;
    height: 100%;
}

.accordion-group li .accordion-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.accordion-group li section {
    width: 100%;
    height: 100%;
    position: relative;
}

.accordion-group li section article {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.accordion-group li section article p {
    font-size: 1em;
}

.accordion-group li section article p:before,
.accordion-group li section article p:after {
    content: "";
    display: block;
    height: 1px;
}

.accordion-group li.out {
    width: 600px;
}

.accordion-group li.out section article {
    right: 0;
    padding: 0;
}

.content_header {
    width: calc(100% - 500px);
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0 40px;
    align-items: center;
}

section.article-widget {
    display: flex;
    align-items: flex-end;
}

#accordion>li figure,
#accordion>li article p {
    display: none;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

#accordion>li.out figure,
#accordion>li.out article p {
    display: block;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    direction: ltr;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: inherit;
}

.owl-carousel .nav-btn {
    height: 21px;
    width: 40px;
    cursor: pointer;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide {
    background: url(../img/left.png);
    background-size: contain;
}

.owl-carousel .next-slide {
    background: url(../img/right.png);
    background-size: contain;
}

.owl-theme .owl-nav [class*=owl-] {
    margin: 0 !important;
}

.owl-theme .owl-nav {
    text-align: inherit !important;
    direction: ltr;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none !important;
}

.accordion-group li .tab-subtitle {
    display: none;
}

.accordion-group li.out .tab-subtitle {
    display: block;
    letter-spacing: -0.04px;
    font-size: 1.5em;
}

.rtl .accordion-group li.out .tab-title {
    writing-mode: lr;
    text-align: revert;
}

.accordion-group li.out .tab-title {
    writing-mode: rl;
    text-align: right;
    height: auto;
}

.main_page_body {
    height: 100%;
    width: 100%;
    padding: 0 35px;
}

.lottie_img {
    position: relative;
    height: calc(100vh - 140px);
    width: calc(100vw - 90px);
}

#lottie2 svg {
    position: absolute;
    z-index: 0;
    opacity: 0.5;
}

#lottie,
#lottie2 {
    background: url(../img/lottie.png) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.main_page_text {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 672px;
    padding-bottom: 35px;
}

h1.main_title {
    font-size: 3em;
    font-weight: 400;
}

.sup-text {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.2em;
}

.article-title {
    font-size: 24px;
    letter-spacing: 0.03px;
    padding: 0 5px;
}

.article-title a {
    text-decoration: none;
    color: var(--dark-green-blue);
}

.article-item {
    max-width: 500px;
}

.menu_icon {
    width: 29px;
    height: 19px;
    background: url(../img/group-2.svg) 50% 50%;
    background-size: contain;
    cursor: pointer;
}

.search_icon {
    width: 29px;
    height: 29px;
    background: url(../img/group-3.svg) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.subs_icon {
    width: 29px;
    height: 20px;
    background: url(../img/group-9.svg) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.search_icon2 {
    margin-top: 5px;
    margin-left: 10px;
    width: 29px;
    height: 26px;
    background: url(../img/group-3.svg) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.rtl .search_block {
    left: -360px;
    top: 0;
}

.search_block {
    position: fixed;
    right: -360px;
    top: 0;
    z-index: 2;
    height: 100vh;
    width: 360px;
    background: var(--dark-green-blue);
    display: flex;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    opacity: 0;
}

.menu_block {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: var(--dark-green-blue);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.rtl .subs_block {
    left: -500px;
}

.subs_block {
    position: fixed;
    right: -500px;
    bottom: 0;
    z-index: 2;
    height: auto;
    width: 500px;
    background: var(--dark-green-blue);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    opacity: 0;
}
.main_page_body::after {
    content: "";
    margin: 20px !important;
}
.rtl .subs_block.open {
    left: 54px;
    right: auto;
}

.subs_block.open {
    left: 0;
    right: 56px;
    opacity: 1;
}

.menu_block.open {
    display: flex;
    left: 0;
}
pre {
    background: #eee;
    font-family: "Courier 10 Pitch", courier, monospace;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 50%;
    overflow: auto;
    padding: 1.6em;
    direction: ltr;
}
.rtl .search_block.open {
    left: 54px;
    right: inherit;
    direction: ltr;
}

.search_block.open {
    overflow-y: scroll;
    flex-direction: column;
    direction: ltr;
    right: 56px;
    opacity: 1;
}

.search_block.open {
    overflow: hidden;
    flex-direction: column;
    direction: rtl;
    right: 54px;
    opacity: 1;
}

.search_icon.close {
    width: 29px;
    height: 28px;
    background: url(../img/close.svg) 50% 50%;
    background-size: contain;
}

.menu_icon.close {
    position: relative;
    z-index: 3;
    width: 29px;
    height: 28px;
    background: url(../img/close.svg) 50% 50%;
    background-size: contain;
}

.subs_icon.subs_icon_open {
    width: 30px;
    height: 27px;
    background: url(../img/group-8-copy.svg) 50% 50%;
    background-size: contain;
}


.menu_wiev {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: calc(100% - 56px);
    justify-content: space-between;
    flex-direction: row-reverse;
}

ul#primary-menu {
    padding: 0;
    margin: 0;
}

#primary-menu ul {
    list-style: none;
}

#primary-menu ul li a {
    color: #fff;
}

#primary-menu li a:visited {
    color: #fff;
}

#primary-menu li a:focus {
    outline: none;
}

ul#primary-menu>li {
    list-style: none;
    padding-bottom: 25px;
    text-align: right;
}

#primary-menu li.current_page_item a {
    color: #fff;
}

#primary-menu>li.current_item>a {
    color: #9bffbf;
}

#primary-menu li a {
    font-size: 1.5em;
    text-decoration: none;
}
li.current-menu-item a {
    color: #9bffbf !important;
}
#primary-menu li ul li a {
    font-size: 1em;
    color: #fff;
}

.rtl .subs_form {
    padding: 0 30px 0 0;
}

.subs_form {
    width: 33%;
    max-width: 450px;
    padding: 0 30px 0 30px;
    margin-bottom: 40px;
    border-right: 2px solid #fff;
    overflow: hidden;
    text-align: right;
    z-index: 1;
}

.forms_title {
    font-size: 2em;
}

.form_text {
    font-size: 1em;
    max-width: 260px;
}

.rtl form.wpcf7-form.init {
    direction: ltr;
}

.rtl form.wpcf7-form p {
    flex-direction: row-reverse;
}

form.wpcf7-form p {
    display: flex;
    flex-direction: row;
}

form.wpcf7-form p .your-email {
    width: 100%;
    display: block;
}

input.mailsubs {
    text-align: right;
    background-color: var(--dark-green-blue);
    border: solid 1px #fff;
    border-radius: 0;
    height: 35px;
    color: #fff;
    width: 100%;
    padding: 0 15px 0 0;
}

input.submnt {
    text-align: right;
    border: solid 1px #fff;
    border-radius: 0;
    height: 35px;
    color: #fff;
    width: 100%;
    max-width: 100px;
    background: url(../img/arrow-left.svg) 15px 50%;
    background-repeat: no-repeat;
    padding: 0 15px 0 0;
}

input::placeholder {
    color: #fff;
}

input:focus-visible {
    outline: none;
}

input:focus {
    color: #fff !important;
}

span.wpcf7-not-valid-tip {
    display: none;
}

span.wpcf7-spinner {
    display: none;
}

ul.sub-menu {
    display: none;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.menu_right {
    width: 77%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
}

nav#site-navigation {
    max-width: 600px;
}

ul.sub-menu li {
    width: 33%;
    padding: 15px 0 0 20px;
}

ul#primary-menu>li:last-child {
    padding: 0;
}

.social_block {
    position: absolute;
    right: 40px;
    top: 30%;
}

ul.social {
    list-style: none;
    margin: 0;
    padding: 0;
}

.subs_block .subs_form {
    width: 100%;
    border: none;
    max-width: 500px;
    padding: 75px 32px;
    margin: 0;
}

.serch_qwery input {
    text-align: right;
    background-color: var(--dark-green-blue);
    border: none;
    border-bottom: solid 1px #fff;
    border-radius: 0;
    height: 35px;
    color: #fff;
    width: 100%;
    padding: 0 15px 0 0;
}

#searchform {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.rtl .serch_qwery,
.rtl .search_result {
    direction: rtl;
}


.search_container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #165b38;
}

.search_container::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 9em;
    box-shadow: inset 1px 1px 15px #fff;
}

.search_container::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

.search_container::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

.search_container::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

.search_container::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
}

.search_container::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
}

.article_content::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.article_content::-webkit-scrollbar-thumb {
    background-color: #165b38;
    border-radius: 9em;
    box-shadow: inset 1px 1px 15px #165b38;
}

.article_content::-webkit-scrollbar-thumb:hover {
    background-color: #165b38;
}

.article_content::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

.article_content::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

.article_content::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
}

.article_content::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
}

.serch_qwery {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    align-content: flex-start;
}

.content_page {
    display: flex;
    width: calc(100% - 56px);
    height: 100vh;
    overflow: hidden;
    position: relative;
    direction: ltr;
}
.rtl .content_page {
    direction: rtl;
}

.article_header {
    display: flex;
    padding: 40px;
    direction: rtl;
    width: 239px;
}

.entry-header h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 300;
}

article {
    width: 100%;
    max-width: 620px;
    padding-top: 40px;
    direction: ltr;
}
.rtl article {
    direction: rtl;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

.image_wraper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.image_wraper img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.article_content_wraper {
    position: relative;
    width: 70%;
    max-width: 99%;
    min-width: 60%;
    background: #000;
    overflow: hidden;
    z-index: 1;
    display: flex;
    color: #f5f1eb;
}

.article_content_wraper h1 {
    color: rgba(245, 241, 235, 0.5);
}

.article_content_wraper.white h1 {
    color: #000;
}

.article_content_wraper.open {
    width: 95%;
}

.past .entry_img {
    opacity: 0.5;
}

.past .entry-header {
    opacity: 0.5;
}

.past .entry-meta {
    opacity: 0.5;
}

.past p {
    opacity: 0.5;
}

.past .price_descr.show p {
    opacity: 1;
}

.past .tooltip_items {
    opacity: 0.5;
}

.article_content {
    height: 100vh;
    overflow-y: scroll;
    direction: rtl;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 40px;
    width: 100%;
}
.rtl .article_content {
    direction: ltr;
}

.image_wraper {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: #165b38;
}

.article_btn {
    position: absolute;
    right: 10px;
    left: unset;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 60px;
    border-left: 4px solid #fff;
    cursor: e-resize;
}
.rtl .article_btn {
    position: absolute;
    right: unset;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 60px;
    border-left: 4px solid #fff;
    cursor: e-resize;
}


.logo img {
    height: 52px;
    width: 159px;
    max-width: none;
}

.rtl .main_content {
    width: 100%;
    direction: rtl;
}

.main_content {
    width: 100%;
    direction: initial;
}

.main_content.archive {
    height: 100vh;
    overflow-y: scroll;
    direction: rtl;
    display: flex;
    flex-direction: row-reverse;
}
.rtl .main_content.archive {
    direction: ltr;
}
.main_content::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.main_content::-webkit-scrollbar-thumb {
    background-color: #165b38;
    border-radius: 9em;
    box-shadow: inset 1px 1px 15px #165b38;
}

.main_content::-webkit-scrollbar-thumb:hover {
    background-color: #165b38;
}

.main_content::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

.main_content::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

.main_content::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
}

.main_content::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
}

.main_content.archive .main_page_body {
    direction: ltr;
    padding-top: 40px;
}
.rtl .main_content.archive .main_page_body {
    direction: rtl;
}
.main_content.archive .main_page_body article {
    border-bottom: solid 2px var(--dark-green-blue);
    margin-bottom: 1.5em;
    padding-right: 0;
    padding-bottom: 15px;
}

.archive_text {
    max-width: 620px;
}

.archive_filters {
    display: flex;
    margin-bottom: 34px;
    margin-top: 34px;
}

.archive_filters div {
    margin-left: 24px;
}

.archive_filters div:first-child {
    margin-left: 10px;
}

.entry-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
}

.rtl .entry_img {
    padding-left: 23px;
    padding-right: 0;
}
.entry_img {
    width: 30%;
    padding-right: 23px;
    padding-left: 0;
    position: relative;
}

.entry_text {
    width: 70%;
}

.tooltip_items {
    display: flex;
    border-right: solid 2px transparent;
    padding: 0 10px;
}

.tooltip_descr {
    border-right: solid 2px transparent;
    padding: 0 10px;
    width: 100%;
    margin-bottom: 10px;
}

.main_content.archive .tooltip_items,
.main_content.archive .tooltip_descr {
    border: none !important;
}

.tooltips {
    position: relative;
    width: 100%;
}

.main_content.archive .tooltip_descr {
    position: absolute;
    max-width: 280px;
    background: #f5f1eb;
    margin-top: 10px;
    font-size: 0.85em;
}
.tooltip_items, 
.tooltip_descr {
    border-left: solid 2px transparent;
}
.rtl .tooltip_items, 
.rtl .tooltip_descr {
    border-left: solid 2px transparent;
}
.border_tooltips {
    border-left: solid 2px var(--dark-green-blue);
}
.rtl .border_tooltips {
    border-right: solid 2px var(--dark-green-blue);
}
.tooltip_items>div {
    margin-right: 20px;
    margin-left: 0px;
}
.rtl .tooltip_items>div {
    margin-left: 20px;
    margin-right: 0px;
}
.time_i {
    object-fit: contain;
    width: 27px;
    height: 27px;
    background: url(../img/time.svg) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.time_i:hover {
    object-fit: contain;
    width: 27px;
    height: 27px;
    background: url(../img/time_g.svg) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.price_i {
    object-fit: cover;
    width: 25px;
    height: 27px;
    background: url(../img/price.svg) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.price_i:hover {
    object-fit: cover;
    width: 25px;
    height: 27px;
    background: url(../img/price_g.svg) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.loc_i {
    object-fit: contain;
    width: 24px;
    height: 27px;
    background: url(../img/loc.svg) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.loc_i:hover {
    object-fit: contain;
    width: 24px;
    height: 27px;
    background: url(../img/loc_g.svg) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.read_more {
    width: 100%;
    margin: 30px 0;
    font-weight: bold;
}

.entry-title a {
    text-decoration: none;
}
.entry-title {
    font-size: 1.4em;
    font-weight: bold;
}
.cat-links a {
    text-decoration: none;
}

.lang_switch {
    width: 29px;
    height: 29px;
    margin-top: 29px;
}

.header_menu {
    margin-top: -58px;
}

.trp-language-switcher {
    margin: 0;
}

.trp-language-switcher .trp-ls-shortcode-current-language {
    width: 100% !important;
}

.trp-language-switcher>div {
    box-sizing: border-box;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-image: none;
    background-position: unset;
    background-size: unset;
    background-color: unset;
}

.trp-language-switcher>div>a {
    display: block;
    height: 20px;
    width: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 12px;
    border-radius: unset;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.trp-language-switcher>div>a.trp-ls-shortcode-disabled-language:hover {
    background: none;
    display: none;
}

.trp-language-switcher:focus .trp-ls-shortcode-language,
.trp-language-switcher:hover .trp-ls-shortcode-language {
    visibility: visible;
    max-height: 28px;
    width: 28px !important;
    height: 28px !important;
    overflow-y: hidden;
    position: relative;
    left: 0;
    top: 0;
    display: inline-block !important;
    min-height: auto;
}

.trp-language-switcher:focus .trp-ls-shortcode-current-language,
.trp-language-switcher:hover .trp-ls-shortcode-current-language {
    visibility: hidden;
    display: none;
}

.trp-language-switcher>div>a.trp-ls-shortcode-disabled-language {
    cursor: default;
    display: none;
}

.trp-language-switcher>div>a:hover {
    background: none;
}

.trp-language-switcher .trp-ls-shortcode-language {
    display: inline-block !important;
    height: auto;
    width: auto !important;
    overflow: hidden;
    visibility: visible;
    z-index: 1;
    max-height: initial;
    overflow-y: auto;
    left: 0;
    top: 0;
    min-height: auto;
}

.trp-language-switcher .trp-ls-shortcode-current-language {
    display: none !important;
}

article h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 300;
}

.result-search.search_result {
    width: 100%;
    margin-top: 15px;
}

.result_item.clear {
    width: 100%;
    border-top: 2px solid #fff;
    padding: 25px 0 0 0;
}

.post_count {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 35px;
}

.result_item.clear a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

ul.post-categories {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.post-categories li a {
    text-decoration: none;
}

.main_content.page {
    height: 100vh;
    overflow-y: scroll;
    direction: rtl;
    display: flex;
    flex-direction: row-reverse;
}

.rtl .main_content.page {
    height: 100vh;
    overflow-y: scroll;
    direction: ltr;
    display: flex;
    flex-direction: row-reverse;
}

.main_content.page .main_page_body {
    direction: rtl;
    padding-top: 40px;
}

.event_title {
    margin-top: 130px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
}

.date_post {
    margin-top: 100px;
}

.from_autor {
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 30px;
}

.date_post {
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.time_reading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.page_setting {
    display: flex;
}

.page_setting span {
    margin: 0 2px;
}

.article_content_wraper.white .white {
    display: none;
}

.article_content_wraper.white h1.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 620px;
    padding-top: 15px;
    background: #fff;
}

.article_content_wraper h1.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 620px;
    padding-top: 15px;
    background: #000;
}

.entry-content a {
    text-decoration: none;
}

.article_content_wraper.white .black {
    display: block;
    cursor: pointer;
}

.article_content_wraper.white .logo_white {
    display: none;
}

.article_content_wraper.white .logo_black {
    display: block;
}

.article_content_wraper .logo_black {
    display: none;
}

.article_content_wraper .black {
    display: none;
}

.article_content_wraper .white {
    display: block;
    cursor: pointer;
}

.article_content_wraper.white {
    background: #fff;
    color: #404040;
}

.article_content_wraper.white .article_btn {
    border-left: 4px solid #165b38;
}

span.tab_toogle {
    display: none;
}

.logo.fixed {
    position: fixed;
    top: 0;
    padding-top: 15px;
}

.grecaptcha-badge {
    display: none !important;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100% !important;
    aspect-ratio: 5/4;
    object-fit: cover;
}

.owl-nav {
    height: 25px;
    margin: 0;
}

.owl-dots {
    position: absolute;
    bottom: 0;
    display: none;
}

.out .owl-dots {
    bottom: 250px;
    display: block;
}
.owl-stage {
    display: flex;
    align-items: flex-end;
}
.out .dots_clone .owl-dots {
    display: none;
}

.dots_clone .owl-dots {
    display: flex;
    position: relative;
}

.tab_article_content p {
    margin: 15px 0;
    max-height: 125px;
    overflow: hidden;
}

#accordion>li.out figure {
    margin: 15px 0 90px 0;
}

.search_container {
    overflow-y: scroll;
    top: 0;
    padding: 45px 0 0 30px;
    z-index: 2;
    height: 100vh;
    width: 350px;
    background: var(--dark-green-blue);
    display: flex;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    direction: rtl;
}

.time_descr,
.price_descr,
.loc_descr {
    display: none;
}

.subs_form_close {
    width: 22px;
    height: 19px;
    background: url(../img/close.svg) 50% 50%;
    background-size: contain;
    position: absolute;
    top: 20px;
    background-repeat: no-repeat;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #165b38 !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: transparent !important;
    border: 1px solid #165b38 !important;
}

.y_play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 32px solid #fff;
    border-bottom: 16px solid transparent;
    cursor: pointer;
}

iframe {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
}
.pointer {
    cursor: pointer;
}

.modal-title {
    position: absolute;
    top: -60px;
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}
.wp-video {
    width: 100% !important;
    height: 100% !important;
}
.mejs-container {
    height: 100% !important;
    width: 100% !important;
}
.video_box {
    width: calc(30% - 23px);
    margin-left: 0;
    margin-right: 23px;
    position: relative;
    display: flex;
    align-items: center;
    background: #000;
    z-index: 0;
}
.wp-video-shortcode video, video.wp-video-shortcode {
    max-width: 100%;
    display: inline-block;
    max-height: 100%;
}
.rtl .video_box {
    margin-left: 23px;
    margin-right: 0;
}

.video_box .entry_img {
    width: 100%;
    padding: 0;
    position: unset;
}

.about_title {
    font-size: 2em;
    margin-bottom: 60px;
}

.people_title {
    font-size: 2em;
    margin-bottom: 17px;
    width: 100%;
}

.people_name_title {
    font-size: 1.25em;
    font-weight: bold;
}

.people_list {
    max-width: 620px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.people_name:nth-child(even) {
    margin-left: 70px;
}

.people_name p {
    margin-bottom: 0;
}

.people_name {
    margin-bottom: 40px;
}

.about_list_item {
    width: 250px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.about_name {
    font-size: 1.25em;
    padding-bottom: 25px;
    font-weight: bold;
}

.about_hover {
    position: absolute;
    top: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background: #165b38bf;
    height: 100%;
    color: #f5f1eb;
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    justify-content: space-between;
}

.about_hover:hover {
    opacity: 1;
}

.about_list_item_block {
    display: flex;
    flex-direction: column;
}

.about_list_item_text {
    margin-top: -15px;
}

.about_list_item_block img {
    width: 18px;
    height: 18px;
    margin: 0 0 0 5px;
}

.rtl .about_list_item_block img {
    width: 18px;
    height: 18px;
    margin: 0 0 0 5px;
}

.about_list_item_block span {
    display: flex;
    align-items: center;
}

.about_blocks {
    max-width: 620px;
    display: flex;
    flex-wrap: wrap;
}

.about_item {
    width: 50%;
}

.sorting_select label {
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.sorting_select input[type="checkbox"]:checked + span {
    font-weight: bold;
}

.sorting_select input {
    display: none;
}
.post_type_name {
    margin: 40px 0 30px;
    font-size: 2em;
}
.more_post {
    font-size: 1.15em;
    font-weight: bold;
    text-align: left;
    max-width: 620px;
}

.more_post a {
    text-decoration: none;
}
nav.navigation.posts-navigation {
    display: none;
}
form#redirectForm {
    display: none;
}

@media screen and (max-width: 1199px) {
    .accordion-group li {
        width: 200px;
        padding: 1em;
    }

    .subs_block {
        left: -400px;
        width: 400px;
        bottom: unset;
    }

    .forms_title {
        font-size: 1.8em;
    }

    .accordion-group li.out {
        width: 500px;
    }

    .accordion-group li section {
        overflow: hidden;
    }

    .article-title {
        height: 50px;
        font-size: 20px;
    }

    .content_header {
        width: calc(100% - 400px);
    }
}

@media screen and (max-width: 999px) {
    .owl-carousel .owl-item img {
        max-width: 470px;
    }

    .subs_form {
        width: 50%;
    }

    .logo img {
        height: auto;
        width: 100px;
    }

    article {
        padding-top: 20px;
    }

    .achive img {
        height: 38px;
    }

    .rtl .tabs {
        left: 55px;
    }
}

@media screen and (max-width: 899px) {
    .video_box {
        width: 100%;
    }
    .post_type_name {
        font-size: 1.5em;
    }
    .entry_text {
        width: 100%;
    }
    body.admin-bar .rtl .subs_block.open {
        top: 100px;
    }

    body.admin-bar .subs_block.open {
        top: 100px;
    }

    body.admin-bar .search_block.open {
        top: 100px;
    }

    body.admin-bar .menu_block {
        height: calc(100% - 45px);
        top: 45px;
    }

    .rtl .search_block.open {
        left: 0;
    }

    .menu_block {
        display: none;
    }

    .accordion-group {
        flex-wrap: wrap;
    }

    body.admin-bar #masthead {
        height: 56px !important;
    }

    body.admin-bar #masthead {}

    .main_content.archive .tooltip_descr {
        position: relative;
    }

    .result-search-list .result_item:nth-child(2) {
        border: none;
    }

    .post_count {
        display: none;
    }

    a.read_more {
        display: none;
    }

    .tooltip_items {
        display: flex;
        padding-bottom: 15px;
    }

    .event_title {
        margin-top: 40px;
        font-size: 1.5em;
    }

    article h1 {
        font-size: 1.5em;
    }

    .accordion-group li:nth-child(2) {
        border-bottom: solid 2px var(--dark-green-blue);
    }

    .rtl .tabs {
        right: 0;
    }

    #accordion>li.out figure,
    #accordion>li.out article p {
        direction: rtl;
    }

    .lottie_img {
        height: calc(100vh - 270px);
        width: 100%;
    }

    .menu_right {
        width: 100%;
    }

    .subs_block.open {
        width: 100%;
        right: 0;
    }

    .owl-carousel .owl-item img {
        max-width: 100%;
        max-height: 25vh;
    }

    .out .owl-dots {
        bottom: 240px;
    }

    .subs_in {
        display: none;
    }

    .rtl .tabs {
        left: 0;
    }

    .tabs {
        right: 0;
        bottom: 0;
        left: 0;
        top: inherit;
        height: auto;
    }

    .accordion-group li .tab-title {
        letter-spacing: -0.03px;
        font-size: 1.5em;
    }

    h1.main_title {
        font-size: 1.5em;
    }

    .content_header {
        padding: 25px 25px 0px 25px;
        align-items: flex-start;
    }

    .main_page_text {
        bottom: 150px;
    }

    .main_page_text {
        max-width: calc(100% - 20px);
    }

    .rtl #page {
        flex-direction: column;
    }

    .entry_img {
        width: 100%;
        padding-left: 0;
        padding-bottom: 23px;
    }

    .main_content.archive .main_page_body {
        padding-top: 10px;
    }

    .entry-header h1 {
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
        font-size: 2em;
        font-weight: 300;
    }

    .main_page_body {
        padding: 0 10px;
    }

    #page {
        flex-direction: column;
    }

    #masthead {
        height: 56px;
        width: 100%;
    }

    .header_bar {
        flex-direction: row;
        padding: 0 45px;
    }

    .header_search {
        display: flex;
        flex-direction: row;
    }

    .lang_switch {
        display: none;
    }

    .header_menu {
        margin-top: 0;
    }

    .menu_right .logo {
        display: none;
    }

    .social_block {
        top: 56px;
        right: 50%;
        transform: translateX(50%);
    }

    ul.social {
        display: flex;
    }

    ul.social li {
        margin: 0 5px;
    }

    .forms_title {
        font-size: 1.4em;
    }

    nav#site-navigation {
        max-width: 90%;
    }

    .menu_right {
        justify-content: flex-end;
    }

    .home_page {
        width: 100%;
    }

    .content_header {
        width: 100%;
    }

    .accordion-group {
        flex-direction: column;
    }

    .accordion-group li.out {
        width: 100%;
    }

    .accordion-group li .tab-title {
        writing-mode: horizontal-tb;
        text-align: right;
    }

    .grecaptcha-badge {
        display: none !important;
    }

    .rtl #accordion>li {
        border-top: solid 2px var(--dark-green-blue);
        border-right: none;
    }

    #accordion>li .article-widget {
        display: none;
    }

    #accordion>li.out .article-widget {
        display: flex;
    }

    .accordion-group li {
        width: 100%;
    }

    span.tab_toogle {
        position: absolute;
        left: 0;
        top: 50%;
        background: url(../img/tab_toogle.svg) 50% 50%;
        transform: translateY(-50%);
        background-size: contain;
        height: 15px;
        width: 26px;
        display: block;
    }

    .article-item,
    .article-item article {
        max-width: none;
        width: 100%;
    }

    .accordion-group li.out .tab_toogle {
        transform: rotate(180deg);
    }

    .rtl .tabs.open {
        left: 0 !important;
    }

    .search_block.open {
        left: 0;
        top: 55px;
        width: 100%;
        right: 0;
    }

    .search_container {
        top: 56px;
        padding: 45px;
        width: 100%;
    }

    .serch_qwery {
        align-content: flex-start;
    }

    .content_page {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    .image_wraper {
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        background: #165b38;
        align-items: flex-start;
        justify-content: center;
    }

    .article_content_wraper {
        position: relative;
        width: 100% !important;
        max-width: none;
        min-width: unset;
    }

    .article_btn {
        display: none;
    }

    .article_header {
        display: none;
    }

    .article_content {
        height: auto;
        padding: 20px;
        overflow: hidden;
    }

    .image_wraper img {
        height: auto;
        width: 100vw;
    }

    .post-thumbnail {
        max-height: 30vh;
        overflow: hidden;
    }

    .rtl .subs_block.open {
        left: 0;
        top: 55px;
        opacity: 1;
        bottom: unset;
    }

    .logo img {
        height: 43px;
        width: auto;
    }

    .achive img {
        height: 43px;
        width: auto;
    }

    .subs_form {
        width: 50%;
        padding-left: 40px;
    }

    .menu_wiev {
        width: 100%;
        background-size: contain;
    }

}

@media screen and (max-width: 800px) {


    .menu_right {
        width: 100%;
    }
}